$white-color: #f8f8f8;
$black-color: #0e0e0e;
$first-color: #faf1ea;
$secondary-color: #d2af95;
$secondary-hover: #ad8464;
$text-color: #6f6b80;
$biology-main-color: #8c9d82;
$biology-hover-color: #75816c;